In [1]:
print("hello world")

hello world

In [3]:
a = "something"
print(a)

something

In [4]:
print (type("hello world"))

<class 'str'>

In [6]:
name = "john"
print(name)

john

In [7]:
name = "hussain"
print(name)

hussain

In [9]:
lesson_author = "john"
print (lesson_author)

john

In [10]:
thanks = "thanks for your input"
print(thanks)

thanks for your input

In [11]:
weight = 50
print(weight)

50

In [13]:
total_weight = weight + 25
print (total_weight)

75

In [14]:
popular_number = 5
lose = 4
total = popular_number + lose
print (total)

9

In [16]:
difference = 12 - 24
print(difference)

-12

In [17]:
eggs = 3 * 12
print (eggs)

36

In [21]:
division = 12 / 4
print(division)

3.0

In [25]:
num = 0.35
total = num + 150
print(total)

150.35

In [26]:
left = 10 % 3
print (left)

1

In [27]:
num = 9 % 3
print(num)

0

In [28]:
left += 1
print (left)

2

In [29]:
left -= 1
print(left)

1

In [30]:
left *= 5
print(left)

5

In [31]:
total_num = 1 + (3 * 4)
print(total_num)

13

In [32]:
total_cost = (2 * 4) * 4 + 2
print(total_cost)

34

In [33]:
final_cost = (2 * 4) * (4 + 2)
print(final_cost)

48

In [35]:
print ("hello world")

hello world

In [37]:
great = "hello"
like = "world"
complete = great + like
print(complete)

helloworld

In [38]:
punc = "!"
complete = great + like + punc
print(complete)

helloworld!

In [41]:
complete = "hello" + "," + "world" + punc
print(complete)

hello,world!

In [45]:
print("the sum of 2 plus 2 is" + "4")

the sum of 2 plus 2 is4

In [46]:
5 == 5

True

In [47]:
5 == 2

False

In [48]:
5 > 2

True

In [49]:
5 < 2

False

In [50]:
5 >= 5

True

In [51]:
5 != 5

False

In [52]:
7 < 7

False

In [54]:
5 == 5 and 6 <= 7 and 11 >= 10

True

In [55]:
5 == 5 & 9 <= 7 & 10 >= 9

False

In [56]:
a = "abc"
b = "xyz"
c = "24"
a + b + c

'abcxyz24'

In [57]:
print(a,b,c)

abc xyz 24

In [58]:
c = 24
a + b + str(c)

'abcxyz24'

In [59]:
a = "1"
b = "1"
a + b

'11'

In [60]:
a = input()
b = input()
a + b

1
1

'11'

In [61]:
int(a) + int(b)

2

In [62]:
a + b

'11'

In [63]:
name = input("entery your name")
if name == "huzaif":
    print("teacher")
else:
    print("student")

entery your namehuzaif
teacher

In [65]:
name = input("entery your name")
if name == "huzaif":
    print("teacher")
else:
    print("student")

entery your nameHuzaif
student

In [66]:
name = input("entry your name")
if name.lower() == "huzaif":
    print("teacher")
else:
    print("student")

entry your nameHuzaiF
teacher

In [67]:
per = 54
if per >= 0 and per <33:
    print("fail")
elif per >= 33 and per <40:
    print("E")
elif per >= 40 and per <50:
    print("D")
elif per >= 50 and per <60:
    print("C")
elif per >= 60 and per <70:
    print("B")
elif per >= 70 and per <80:
    print("A")
elif per >= 80 and per <100:
    print("A+")
else:
    print("not valid")

C

In [68]:
per = 72
if per >= 80:
    print("A+")
elif per >= 70:
    print("A")
else:
    print("fail")

A

In [71]:
names = ["zohib","farhan","aqil"]
names

['zohib', 'farhan', 'aqil']

In [1]:
a = "zOHaib khAn"
print(a)

zOHaib khAn

In [20]:
a.capitalize()

'Zohaib khan'

In [21]:
a.upper()

'ZOHAIB KHAN'

In [22]:
a.lower()

'zohaib khan'

In [23]:
a.swapcase()

'ZohAIB KHaN'

In [24]:
a.ljust(20, "*")

'zOHaib khAn*********'

In [25]:
a.rjust(20, "*")

'*********zOHaib khAn'

In [29]:
a.center(21, "+")

'+++++zOHaib khAn+++++'

In [30]:
a.center(21, " ")

'     zOHaib khAn     '

In [43]:
s = a.center(21, ' ')

In [45]:
s

'     zOHaib khAn     '

In [46]:
s.lstrip()

'zOHaib khAn     '

In [47]:
s.rstrip()

'     zOHaib khAn'

In [48]:
e = s.center(50, '*')

In [49]:
e

'**************     zOHaib khAn     ***************'

In [50]:
e.lstrip('*')

'     zOHaib khAn     ***************'

In [51]:
e.lstrip('* ')

'zOHaib khAn     ***************'

In [52]:
x = "35"

In [53]:
x.zfill(5)

'00035'

In [3]:
s = 'zOHaib khAn'

In [4]:
s

'zOHaib khAn'

In [5]:
s.find('An')

9

In [7]:
s.find("An", 1, 11)

9

In [8]:
s.find("An", 1, 7)

-1

In [9]:
len(s)

11

In [10]:
"An" in s

True

In [11]:
"ru" in s

False

In [12]:
s.index("An")

9

In [13]:
s.index("ru")

ValueError: substring not found

In [14]:
a = "aaabbbccc"

In [15]:
a.replace("a", "b")

'bbbbbbccc'

In [16]:
a.replace("a", "b", 2)

'bbabbbccc'

In [3]:
s = "abc123"

In [4]:
s.isalnum()

True

In [5]:
s.isalpha()

False

In [6]:
s.isdigit()

False

In [7]:
s.isidentifier()

True

In [8]:
s = "        "

In [9]:
s.isspace()

True

In [10]:
s = "we are learning computer programing for two months."

In [14]:
s

'we are learning computer programing for two months'

In [15]:
s.split()

['we', 'are', 'learning', 'computer', 'programing', 'for', 'two', 'months']

In [18]:
s.split('e')

['w', ' ar', ' l', 'arning comput', 'r programing for two months']

In [19]:
s.split(' ', 5)

['we', 'are', 'learning', 'computer', 'programing', 'for two months']

In [20]:
a = s.split()

In [21]:
type(a)

list

In [22]:
a

['we', 'are', 'learning', 'computer', 'programing', 'for', 'two', 'months']

In [24]:
for w in a:
    print(w)

we
are
learning
computer
programing
for
two
months

In [25]:
b = ""

In [26]:
type(b)

str

In [27]:
len(b)

0

In [28]:
b.join(a)

'wearelearningcomputerprogramingfortwomonths'

In [35]:
s = "scores are : {0}, {1}, {2}".format(95, 88, 90)

In [36]:
print(s)

scores are : 95, 88, 90

In [38]:
s = "scores are : {0}, {0}, {1}".format(95, 88)
print(s)

scores are : 95, 95, 88

In [40]:
s = "password: {0}{02}{1}".format(*"xyz")
print(s)

password: xzy

In [1]:
abc = """
*******PIAIC*******
saylani welfer trust
Name: huzaif
Father's Name: hussain
Roll No: 85
"""

print(abc)

*******PIAIC*******
saylani welfer trust
Name: huzaif
Father's Name: hussain
Roll No: 85

In [2]:
Name = "huzaif"
Father_Name = "hussain"
roll_no = 85

abc = """
*******PIAIC*******
saylani welfer trust
Name: {}
Father's Name: {}
Roll No: {}
"""
print(abc.format(Name, Father_Name, roll_no))

*******PIAIC*******
saylani welfer trust
Name: huzaif
Father's Name: hussain
Roll No: 85

In [3]:
a = input("enter your name")
a

enter your namehuzaif

'huzaif'

In [6]:
name = input("Enter your name")
father_name = input("Enter your Father's Name")
roll_no = input("Enter your Roll no")

abc = """
*******PIAIC*******
saylani welfer trust
Name: {}
Father's Name: {}
Roll No: {}
"""
print(abc.format(name, father_name, roll_no))

Enter your namehuzaif
Enter your Father's Namehussain
Enter your Roll no86

*******PIAIC*******
saylani welfer trust
Name: huzaif
Father's Name: hussain
Roll No: 86